pandu-app/.gradle
pandu-app/.idea
pandu-app/app/build/*
pandu-app/app/libs/*
pandu-app/app/.*
pandu-app/app/src/androidTest/*
pandu-app/app/src/test/*
pandu-app/.*
pandu-app/local*
pandu-app/app/google-services.json
pandu-organiser-app/.gradle
pandu-organiser-app/.idea
pandu-organiser-app/app/build/*
pandu-organiser-app/app/libs/*
pandu-organiser-app/app/.*
pandu-organiser-app/app/src/androidTest/*
pandu-organiser-app/app/src/test/*
pandu-organiser-app/.*
pandu-organiser-app/local*
pandu-organiser-app/app/google-services.json
pandu-admin/config.json
pandu-admin/test.py
.firebaserc
.gitignore
firestore.*
firebase.*