<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pandel Analysis</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" />

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>


<body>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <form method="POST" action="" autocomplete="off">
                    <div class="form-group">
                        {{ form.csrf_token }}
                        <h2>Pandel Analysis</h2>

                        <br />

                        <h4>Choose any pandel in particular (if required)</h4>
                        {{ form.pandel_choice(class_="form-control input-lg") }}

                        <br />

                        <br />

                        <button type="submit" class="btn btn-lg btn-info">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>


</html>